.map__button {
  position: absolute;
  border: none;
  display: flex;
  gap: 15px;
  min-height: 41px;
  align-items: center;
  justify-content: center;
  border-radius: 21px;
  min-width: 41px;
  padding: 0 15px;
  background-color: brown;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .3s ease-out;
}

.map__button:hover {
  opacity: 1;
}